.dataTables_filter input {
  width: 180px !important;
}

div.dataTables_wrapper div.dataTables_processing {
  top: 120px;
}

div.dataTables_wrapper div.dataTables_filter {
  margin-bottom: 10px !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  color: white !important;
  background: #0719eb !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border: 1px solid #6777ef !important;
  padding: 0.5rem 0.75rem !important;
  font-weight: 600 !important;
  margin: 0 5px !important;
  opacity: 0.6;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: white !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:not(.current) {
  color: #0719eb !important;
  opacity: 0.6;
  padding: 0.5rem 0.75rem !important;
  font-weight: 600;
  margin: 0 5px !important;
  border-color: transparent;
  background-color: #f9fafe;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:not(.current):hover {
  background: #0719eb !important;
  border: 1px solid #6777ef !important;
  color: #fff !important;
  font-weight: 600;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
  border-bottom: 0px solid #111111;
}

.dataTables_paginate {
  margin-top: 12px;
}

.dataTables_processing {
  display: none !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  float: initial;
}

.dataTables_wrapper .dataTables_filter input {
  border: 1px solid #e4e6fc;
  border-radius: 3px;
  padding: 5px;
  background-color: transparent;
  margin-left: 3px;
}
.dataTables_wrapper .dataTables_filter input:focus {
  border-color: #6777ef;
}
